mac-only
venv
.DS_Store
yolov8-via-roboflow/datasets
datasets
runs
raspvenv
*.jpg
.env

#model traning weights directories
trash-classification
runs

#clearml config
clearml**

#old repo init stuff

old
yolov8l.pt
yolov8m.pt
yolov8n.pt
yolov8s.pt
yolov8x.pt
*.pt
*.onnx
exports
!exports/lightweight
yolov8*-cls.torchscript
#!exports/**

#folder containing collected test samples
lib/test_collection/Recycle/
lib/test_collection/Trash/

#Folders of deps in edge_testing and temp
edge_testing/temp

#folders for random shit
.ipynb_checkpoints
**/__pycache__/